
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Oauth</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Homepage</a></li>
    </ul>
</nav>
<header>
    <h1>merpassenger oAuth</h1>
    <h2>Homepage</h2>
</header>
<main>
    <p>merpassenger trying to have better authentication</p>
</main>
</body>
</html>