
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
<nav>
    <ul>
        <% if(user) { %>
            <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    </ul>
</nav>
<header>
    <h1>Welcome to your profile , <%= user.username %></h1>
    <h2>Homepage</h2>
</header>
<main>
    <img src="<%= user.thumbnail%>"/>
<p>
   this is your thumbnail
</p>
</main>
</body>
</html>